/* 
font-family: 'Expletus Sans', cursive;
font-family: 'Comfortaa', cursive; 
font-family: 'Montserrat', sans-serif; */

 @charset "utf-8";

/*---------------------------------------------------------------*/

/* ---------- Global Styles (Mobile) - 320px+ ---------- */

/*---------- Header & Footer ----------*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

html{
    scroll-behavior:fadeIn;
}

header{
    position: fixed;
    width:100%;
    top:0;
    z-index: 1;

}

.redesign {
    animation: fadeIn;
    animation-duration: 1s;
    background-image: url('new-images/rr-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 90%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  
.redesign section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.redesign h1{
    color:#E0667D;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.redesign p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.redesign .nav-link{
    color: #E0667D;
    font-weight: 500;
    text-decoration: none;
    
}




body{
    background-color:white;
    font-family: 'Comfortaa', cursive;
    
}

h1{
    font-weight:200;
}

p{
    font-family: 'Montserrat', sans-serif;
}

#wrapper{
    padding-bottom:30px;
    scroll-behavior:fadeIn;
    animation-duration: 10s;
}

header{
    margin-bottom:70px;
    padding-bottom:10px;
    background-color: #000000;

}

hr{
    margin-top:5px;

}

li{
    list-style: none;
    padding:30px;
    
}

nav a{
    font-size: 16px;
    text-decoration: none;
    color:white;
    display:flex;
    flex-direction: row;
    
}

.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 20px 20px 20px;
    justify-content: space-between; 
    min-height: 70px;

}

.nav-menu{
    display:flex;
    flex-direction: row;

}

.nav-item{
    text-decoration: none;
    padding:auto;
    margin-right:20px;
}

.nav-item{
        margin:0px;
        padding:10px 20px;
    }


.nav-item:hover{ 
    background-color: #a61866;
    border-radius: 20px;
    animation:pulse;
    
    animation-duration: 1s;
    
    

}



.nav-branding{
    display: inline;
    font-family: 'Expletus Sans', cursive;
    font-size:26px;
    color:transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #ffffff, #a61866,white, #e56313, #ffffff);
    -webkit-background-clip: text;
    animation:animate 10s linear infinite;
    -webkit-background-sizes: 500%;
    background-size: 500%;
      
}   

@keyframes animate {
    0% { background-position: 0 100%; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 100%; }

} 

.hamburger{
    display:none;
    cursor:pointer;

}

.bar{
    display:block;
    width:30px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;

}

footer{
    border-top: 2px solid black;
    font-size: 15px;
    text-align: center;
    padding:40px;
    margin-top:5px;

}


/* ------------Home Page (Mobile) - 320px+ ------------ */
main{
    margin-top:200px;
    border-bottom: 2px solid black;
    animation:fadeIn;
    animation-duration: 1s;

}



#intro h2{
    text-align: left;
    font-weight: 400;
    animation:zoomIn;
    animation-duration: 1s;
    font-size: 36px;
    margin-bottom:5px;
    
}

#intro{
    margin:80px 20px 80px 20px;

}


.wave {
    display: inline-block;
    animation-name: wave-animation;  
    animation-duration: 2s; 
    animation-iteration-count:infinite;
    transform-origin: 70% 70%;
    z-index: 0;
    padding-left:10px;
    
}
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } /*reset*/
    100% { transform: rotate( 0.0deg) }

  }



#intro h3{
    text-align: left;
    font-weight: 300;
    line-height: 35px;
    font-size:20px;
    animation:zoomIn;
    animation-duration: 1s;
    color:#999999;
    
}

#intro h3 b{
    text-decoration: none;
    color:black;
}


#intro h4, #intro h4 a{
    animation:zoomIn;
    animation-duration: 1s;
    margin-top:5px;
    color:#a618667e;
    font-size:20px;
    line-height: 30px;
    font-weight: 200;
}



#recent-work{
    padding-bottom:25px;
}

#recent-work h3{
    text-align: left;
    padding-left:20px;
    font-weight: 300;
    font-size:20px;

}

.categories{
    display:flex;
    text-align: center;
    flex-direction: column;

}

.card{
    padding-top:20px;

}

/* ------------- colorize-zoom container -------------*/
.categories .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .4s, filter 0.5s ease-in-out;
    -webkit-transition: -webkit-transform .4s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
    width:90%;
    margin-top:15px;
    border-radius: 2px;
    -webkit-transform: translateZ(0);
    
}
  
 /* ------------- transformation ------------- */
.categories .card:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
    -webkit-transform: translateZ(0);
    
}

.categories h4{
    padding-top:16px;
   
}

.categories p{
    margin-left:20px;
    margin-right:20px;
    padding-top: 8px;
    font-size: 15px;
}

.categories h5{
    padding-top: 8px;
    font-size: 12px;
    margin-left:26px;
    margin-right:26px;
    color:rgba(0, 0, 0, 0.533);
}


.button1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    padding: 5px 50px 5px 50px;
}

.button1 {
    background-color: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    /* font-family: 'Comfortaa', cursive;  */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top:25px;
    line-height: 24px;
    padding: 5px 36px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }


  .button1:hover,
  .button1:active {
    outline: 0;
    
  }
  
  .button1:hover {
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    transition: 1.5s;
  }
  
  .button1:before {
    z-index: -1;
    width: 100%;
    text-align: center;
    background-color: rgba(85, 85, 85, 0.479);
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    
    
  }
  
  .button1:hover:before {
    background-color: #000000;
  }

/* ------------------ Art Page (mobile)------------------ */

.art h2{
    font-size:28px;
    margin-top:-30px;
    margin-bottom:50px;
    padding:15px;
    text-align: center;
    font-size:25px;
    color:rgb(0, 0, 0);
    font-weight: 200;
}

.art #illustration h3, .art #animation h3{
    text-align: center;
    font-size:18px;
}

.art #illustration h4, .art #animation h4{
    font-size:18px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
    padding-bottom:10px;
    padding-top:5px;
}



.art #illustration img{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    margin-top:10px;

}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 10px;
  }

#illustration p{
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.art #animation h3{
    margin-top:25px;
}

.art #animation img{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding-top: 10px;

}


/* ------------------ Photography Page (mobile)------------------ */

.photography h2{
    font-size:28px;
    margin-top:-30px;
    margin-bottom:20px;
    text-align: center;
    font-size:25px;
    color:rgb(0, 0, 0);
    font-weight: 200;
}

.photography #photo-grid{
    display:grid;
    grid-template-rows: 1fr;
    padding-top:20px;
    padding-bottom:20px;
}

.photography #photo-grid img{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;

}

  /* ------------------ About Page (mobile)------------------ */
#main-about{
    padding-bottom:40px;

}
#main-about p{
    font-size: 16px;
    line-height:25px;
    margin: 10px 0 10px 0;
    padding: 5px 25px 5px 25px;
    text-align: left;
}

#fluffy aside{
    font-size: 16px;
    line-height:25px;
    margin: 10px 0 10px 0;
    padding: 5px 25px 5px 25px;
    text-align: center;
}

#main-about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 2px;
    padding-top:10px;
    /* box-shadow: 5px 5px 5px rgba(23, 14, 14, 0.338); */
}

#introduction{
    padding-bottom:40px;

}

#main-about hr {
    width: 85%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

#intro-only h2{
    font-size: 26px;
    padding-left:25px;
    padding-right:10px;
    line-height: 35px;
    
}


#fluffy{
    margin-top: 30px;

}

b{
    text-decoration-line:underline;
}

#arrow img{
    margin-top:10px;
    margin-bottom:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow:none;
    width:5%;
    
}


/* ------------------ Vision Page ------------------ */


.vision-title img{
    width:30%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.vision h2{
    padding-left:20px;
    margin: 0;

}

.vision h3{
    text-align: left;
    padding:30px 0 0 30px;
    margin: 0;
    animation:zoomIn;
    animation-duration: 1s;
    

}

.vision p{
    line-height: 30px;
    
}

.vision .about h3{
    padding-bottom:15px;

}

.vision .about{
    padding-bottom:20px;

}

.vision h4{
    text-decoration: underline;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left:30px;
    
}

.research section{
    padding:10px 0 0 0;
    margin: 0;

}

.vision #research-goal, #function-goal{
    padding-top:15px;

}

.vision p, .vision .research ul li{
    padding-left:30px;
    padding-right:30px;
    text-align: left;
}

.vision .research{
    padding-bottom: 20px;

}

.vision .function, #design{
    padding-bottom: 20px;
}

.vision #design img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
    width:90%;

}

.vision .tools p{
    padding-top:15px;
    padding-bottom:15px;
}
/* ---------- */


/* --------- */

footer{
    border-top: 2px solid black;
    font-size: 15px;
    text-align: center;
    padding:40px;
    margin-top:5px;

}

/* --------- Hamburger Menu Style (From 0px to 800px) --------- */

@media(max-width:800px){
    .hamburger{
        display: block;
        z-index: 1;

    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;

    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu{
        position:fixed;
        left:-100%;
        top:100px;
        gap:0;
        flex-direction: column;
        background: #000000;
        transition:0.3s;
        -webkit-margin-after: 10px;
        width:100%;
        padding:5px;
        display:flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        
    }

    /* #a61866,white, #e56313 */

    .nav-item{
        margin:10px 0;

    }

    .nav-item:hover{
        background-color: #a61866;

    }

    .nav-menu.active{
        left:0;

    }

}


@media only screen and (min-width: 600px) {
    #recent-work{
        padding-top:50px;
    }
    .categories{
        display:grid;
        text-align: center;
        grid-template-columns:1fr 1fr;
        padding:7px;
        margin-top:-25px;
    }

    .card{
        margin:5px;
    }

    .card{
        padding-top:20px;
    }
}
/* ------------ ForHealth Page ------------ */
.forhealth{
    padding-left: 20px;
    padding-right: 20px;
    
}

#forhealth-content{
    padding-top:50px;
}


.forhealth h2{
   display:none;
}

.forhealth h3{
    margin-top:5px;
    margin-bottom:12px;
    line-height: 20px;
}

.forhealth h4{
    margin-top:15px;
    line-height: 20px;
    padding-bottom:5px;
}

.forhealth ul{
    margin-bottom:15px;
    padding-left: 20px;
}

.forhealth li{
    font-size: 15px ;
    list-style-type: square;
    line-height: 25px;
    padding:0;
}

.forhealth p{
    font-size: 16px ;
    list-style-type: square;
    line-height: 25px;
}

.forhealth-title img{
    width:70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#user-persona img{
    width:98%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#participant-overview img{
    width:85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    
}

#task-difficulty img{
    width:90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#final-prototype img{
    width:98%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom:20px;
}

.forhealth .tools{
    padding-bottom:20px;
}

#forhealth-content .about, #user-overview, #user-persona, #research-overview, #participant-overview, #task-difficulty, #final-prototype,#key-takeaways, .forhealth .tools, .forhealth .links{
    padding-bottom:10px;
    padding-top:20px;
}

/* ----------------------- Device Changes Starts Here ----------------------------- */

/* ------------------ Mid Mobile/Tablet - 425px ------------------ */
@media screen and (min-width: 425px){
    .nav-branding{
        font-size:30px;
        
        
    }

    .nav-menu{
        top:113px;
        
    }

    

    /* ------------ ForHealth Page (425px) ------------ */

    #participant-overview img{
        width:65%;
    }

    
   
    
}

/* ------------------ 500px ------------------ */

@media screen and (min-width: 500px){



    /* ------------Home Page -500px+ ------------ */
    #intro h2{
        font-size: 40px;
        
    }



    .forhealth .buttons .button{
        margin-left: auto;
        margin-right: auto;

    }

    .buttons{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* ------------ About Page ------------ */

    #main-about{
        padding-left:30px;
        padding-right:30px;
    }


    /* ------------ Art Page (500px)------------ */

    .art h2{
        font-size:28px;
        padding-top:50px;
        
    }

    .art #illustration h3, .art #animation h3{
        font-size:20px;
    }

    .art #illustration .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .art #illustration section{
        margin:5px;
    }
    
    .art #animation .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .art #animation section{
        margin:5px;
    }


    /* ------ Photography Page (500px)------ */

    .photography h2{
        font-size:28px;
        padding-top:50px;
        padding-left:100px;
        padding-right:100px;
        
    }

    .photography #photo-grid{
        grid-template-columns: 1fr 1fr;
    }

    .photography #photo-grid img{
        width:95%;
        margin-bottom:10px;
    }




}


/* ------------------ Tablet - 768px ------------------ */

@media screen and (min-width: 768px){

    /* ------------Home Page - 768px+ ------------ */
    .redesign {
        
        background-size: 60%;
       
      }

      .redesign h1{
          font-size: 60px;
          font-weight: 500;
      }
      
      .redesign p{
          font-size: 20px;
          font-weight: 400;
         
      }

      .redesign .nav-link{

          font-weight: 500;
         
          
      }
    #intro h2{
        font-size: 48px;
        
    }
    
    .nav-menu{
        top:110px;
        margin-left:0px;
        
    }
   
    main{
        padding-left:40px;
        padding-right:40px;
        padding-bottom:200px;

    }

    h2{
        margin-top:230px;
        font-size: 32px;

    }

    #intro h3{
        font-size: 20px;
        line-height: 27px;

    }

    #intro h4, #intro h4 a{
        animation:zoomIn;
        animation-duration: 1s;
        margin-top:5px;
        color:#a618667e;
        font-size:20px;
        line-height: 30px;
        font-weight: 200;
    }

    #intro a{
    font-size: 24px;
    /* text-decoration:underline; */
    }

    #recent-work{
        margin-bottom:-150px;

    }

    #recent-work h3{
        font-size: 18px;

    }

    .nav-branding{
        padding-left:25px;
        
    }

    .navbar{
        padding-right:50px;

    }

    .nav-menu{
        top:110px;
        
    }

    .nav-item{
        margin:0px;
        padding:10px 20px;
    }

    .categories p{
        padding-top:12px;
        padding-bottom:2px;

    }

    footer{
        font-size: 15px;
    }

    /* ------------------ About Page (Tablet) ------------------ */

    #main-about{
        /* padding:0; */
    }
    
    #introduction{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
    }

    #intro-only{
        padding:0;
        margin-top:-200px;
        align-self: center;
    }

    #intro-image{
        align-self: center;
        width:90%;
        padding:auto;
        margin:auto;
    }

    #fluffy img{
        width:60%;
    }


    #arrow img{
        display: none;
        
    }

    

/* ------------------ Vision Page (Tablet) ------------------ */

    .vision .links{
       margin-bottom:-120px;

    }

    .vision h2{
        margin-left:0px;
    }

    .research h4{
        padding:0;
        margin:0;
        text-align: right;
       
    }

    .research-application{
        display:grid;
        grid-template-columns: 20% 80%;
        align-items: center;

    }



    /* ------------------ ForHealth Page (Tablet)------------------ */
    .forhealth{
        padding-left:100px;
        padding-right:100px;
    
    }

    .forhealth h2{
        margin:0;
    
    }

    #user-persona h4{
        margin-bottom:10px;
    }

    #user-persona img{
        width:90%;
        margin-bottom:40px;
        border: solid 3px black;
    }

    .forhealth-title img{
        width:40%;
    }


    #participant-overview .chart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top:20px;
        
    }
    #participant-overview img{
        width:75%;
     
        
    }

    #user-overview, #user-persona, #research-overview, #participant-overview, #task-difficulty, #final-prototype,#key-takeaways, .forhealth .tools, .forhealth .links{
        padding-top:20px;
    }

    .forhealth #final-prototype h4{
        text-align: center;
    }

    .forhealth .buttons .button{
        margin-left: auto;
        margin-right: auto;
        padding:5px;

    }

    .buttons{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left:30px;
        padding-right:30px;
    }


    /* ------------------- Art Page (768px)------------------ */

    .art #illustration h3, .art #animation h3{
        font-size:23px;
    }

    .art #illustration .grid{
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .art #animation .grid{
        grid-template-columns: 1fr 1fr 1fr;
        
    }

     /* -------------- Photography Page (768px)-------------- */
     .photography #photo-grid{
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .photography #photo-grid img{
        width:95%;
        margin-bottom:15px;
    }
}

/* ---------- Desktop - 1000px + ---------- */
@media screen and (min-width: 1000px){
    .redesign {
        
        background-size: 40%;
       
      }

      .redesign h1{
          font-size: 80px;
          font-weight: 500;
      }
      
      .redesign p{
          font-size: 24px;
          font-weight: 400;
         
      }

      .redesign .nav-link{

          font-weight: 500;
         
          
      }

    #intro{
        padding-bottom:40px;
        
    }

    .nav-menu li{
        margin-left:20px;
        
    }


    h2{
        padding-top:100px;
        font-size: 40px;

    }

    #intro h3{
        font-size: 26px;
        padding-right: 300px;
        line-height: 40px;
        margin:0;
        padding:0;

    }

    #intro h4, #intro h4 a{
        animation:zoomIn;
        animation-duration: 1s;
        margin-top:5px;
        color:#a618667e;
        font-size:20px;
        line-height: 30px;
        font-weight: 200;
        font-size: 26px;
    }

    

    #intro a{
        font-size: 30px;

    }

    

    #recent-work h3{
        font-size: 26px;
        padding-bottom:10px;

    }

    .nav-menu a{
        font-size:18px;
    }

    /* .nav-item{
        padding:10px 20px;
    
    
    } */
/* ------------------ Vision Page ------------------ */

    .vision{
        padding:50px;

    }

    .vision p{
        padding-top:20px;
        line-height:25px;

    }

    .nav-branding{
        font-size: 37px;
        
    }

    .vision #design img{
        text-align: center;
        max-width: 70%;  
        height: auto;  

    }
   
/* ------------------ About Page ------------------ */

    #main-about p, #fluffy aside{
        font-size: 17px;
        line-height: 30px;

    }

    #main-about{
        padding-left:100px;
        padding-right:100px;
    }

    #intro-only{
        margin-top:-300px;
    }

    #fluffy img{
        width:50%;
    }


    /* ------------------ ForHealth Page ------------------ */
    .forhealth{
     padding-left:150px;
     padding-right:150px;
    }

    /* .forhealth p{
        margin-right:200px;

    } */
    
    .forhealth-title img{
         width:40%;
     }

    #participant-overview .chart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top:20px;
            
    }
    
    #participant-overview img{
        width:75%;
        
    }

}

/* ------ 1200 px ------ */
 @media screen and (min-width: 1200px){
    #intro{
        padding-right:200px;
        
    }

/* ------------------ Vision Page ------------------ */
.vision{
        padding:0 200px 0 200px;
        
    }

    .vision h2{
        padding-top:15px;
    }

    .vision .about{
        padding:0;
        margin-bottom:30px;
    }

/* ------------------ ForHealth Page ------------------ */
    .forhealth{
        padding-left:250px;
        padding-right:250px;
       }

 
 
}

/* ---------- Desktop - 1300px + ---------- */