@charset "utf-8";

/* ---------- global styles (mobile) - 320px+ ---------- */

/*---------- header ----------*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

html{
    scroll-behavior:fadeIn;
    scroll-behavior: smooth; 

}

header{
    /* position: fixed; */
    width:100%;
    top:0;
    z-index: 2;
    /* margin-bottom:70px; */
    padding-bottom:10px;
    background-color: #ffffff00;

}



body{
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    
}

/* #wrapper{
    padding-bottom:30px;
    scroll-behavior:fadeIn;
    animation-duration: 10s;
} */




.navbar img{
    width:70px;

}



.navbar li{
    list-style: none;
    margin:25px;
    /* padding-bottom:20px;
    padding-top:20px; */
    
}

nav a{
    font-size: 16px;
    text-decoration: none;
    color:black;
    font-weight: 500;
    
}

nav a:hover{
    font-weight: 800;
    /* transition: 1s; */
    color:#E05989;
    
}

.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    justify-content: space-between; 
    
}

.nav-menu{
    display:flex;
    flex-direction: row;
    padding-top:50px;
    padding-bottom:50px;

}

.nav-item{
    text-decoration: none;
    padding:auto;

}

.nav-item{
    margin:0px;

}

.nav-link{
    padding:20px;
    border-bottom: 2px solid transparent;

}


.nav-item:hover{ 

    animation:rubberBand;
    animation-duration: 1s;

}

/* .nav-branding{
    display: inline;
    font-family: 'Expletus Sans', cursive;
    font-size:26px;
    color:transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #ffffff, #a61866,white, #e56313, #ffffff);
    -webkit-background-clip: text;
    animation:animate 10s linear infinite;
    -webkit-background-sizes: 500%;
    background-size: 500%;
      
}   
@keyframes animate {
    0% { background-position: 0 100%; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 100%; }

}  */

.hamburger{
    display:none;
    cursor:pointer;

}

.bar{
    display:block;
    width:30px;
    height:3px;
    border-radius: 10px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:rgb(0, 0, 0);

}

footer{
    /* border-top: 5px solid black; */
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding:50px;
    margin-top:100px;
    z-index: 2;
    color:#a4a4a4;

}


/* -------------------------- Home Page (Mobile) - 320px+ -------------------------- */
main{
    animation:fadeIn;
    animation-duration: 1s;
    max-width: 1800px;
    margin: 0 auto;
    z-index: 1;
    

}

#home{
    padding-top:140px;
    padding:20px;
    /* max-width: 100%; */
    max-width: 1500px;
    margin: auto;
    

}

#intro{
    display: flex;
    flex-direction: column;
    padding:100px 20px 100px 20px;
    max-width: 900px;

}

#intro h2{
    text-align: left;
    font-weight: 600;
    /* animation:zoomIn; */
    /* animation-duration: 1s; */
    font-size: 66px;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: -8px;
    max-width: 470px;
    line-height: 65px;
    z-index: 1;
    
}

#intro h3{
    text-align: left;
    font-weight: 300;
    line-height: 40px;
    font-size:26px;
    /* animation:zoomIn;
    animation-duration: .3s; */
    color:#7c7c7c;
    padding-left:5px;
    padding-top:5px;
    z-index: 1;
    
}

#intro h3 b{
    text-decoration: none;
    color:#000000;
}

/* note: h4 a is for the zelle link */
#intro h4, #intro h4 a{
    padding-top:20px;
    color:#DF5889;
    font-size:20px;
    line-height: 30px;
    font-weight: 500;
    z-index: 1;
   

}

#intro span{
    font-size:40px;
}


/*  ----------------------------------- background BLOB - home ----------------------------------- */



.blob-a {
	min-height: 100vh;
	overflow: hidden;
	position:absolute;
	width: 90%;
	filter: blur(40px);
    white-space:none;

}

.blob-b {
	min-height: 500px;
	overflow: hidden;
	position:absolute;
	width: 70%;
	filter: blur(40px);
    white-space:none;
    z-index: -1;

}

.shape-blob {
	background:#ffedd4;
	height: 250px;
	width: 300px;
	/* /* border-radius: 40% 50% 30% 40%; */
  	animation: 
	transform 4s ease-in-out infinite both alternate,
	movement_one 6s ease-in-out infinite both; 
	opacity:.7;
	position: absolute;
	left: 75%;
	top: 40%;

}

.shape-blob.one{
	background:#fff3de;
	height: 100px;
	width: 100px;
	left: 10px;
	top: 100px;
	transform: rotate(-180deg);
	animation: transform 2s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;

}

.shape-blob.six{
	background:#ffe6ef;
	height: 200px;
	width: 200px;
	left: 50px;
	top: 600px;
	transform: rotate(-180deg);
	animation: transform 3s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;

}

.shape-blob.four{
	background:#e1deff;
	height: 350px;
	width: 350px;
	left: 350px;
	top: 400px;
	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;

}

.shape-blob.five{
	background:#dedafd;
	height: 200px;
	width: 200px;
	left: 480px;
	top: 100px;
	transform: rotate(-180deg);
	animation: transform 4s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;

}

.shape-blob.two{
	background:#fff3eb;
	height: 150px;
	width: 150px;
	left: 600px;
	top: 150px;
	transform: rotate(-180deg);
	animation: transform 2s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;

}

.shape-blob.three{
	background:#ffe6fa;
	height: 250px;
	width: 200px;
	left: 800px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 2s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;

}

.shape-blob.seven{
	background:#ffe6fb;;
	height: 250px;
	width: 300px;
	left: 10px;
	top: 100px;
	transform: rotate(-180deg);
	animation: transform 2s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;

}

.shape-blob.eight{
	background:#fff5ea;;
	height: 200px;
	width: 200px;
	left: 800px;
	top: 800px;
	transform: rotate(-180deg);
	animation: transform 2s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;

}

.shape-blob.nine{
	background:#eae8ff;
	height: 250px;
	width: 200px;
	left: 900px;
	top: 600px;
	transform: rotate(-180deg);
	animation: transform 9s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;

}

.shape-blob.ten{
	background:#fff8ea;
	height: 250px;
	width: 200px;
	left: 500px;
	top: 70px;
	transform: rotate(-180deg);
	animation: transform 6s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;

}

.shape-blob.eleven{
	background:#ffeafd;
	height: 300px;
	width: 300px;
	left: 1000px;
	top: 500px;
	transform: rotate(-180deg);
	animation: transform 3s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;

}
@keyframes transform{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 

}
@keyframes movement_one{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }

}
@keyframes movement_two{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}

}


/* ---------------------------- background BLOB home ends ---------------------------- */

#recent-work img{
    /* padding-bottom:10px; */
    

}

#recent-work h3{
    text-align: left;
    padding-left:20px;
    font-weight: 300;
    font-size:20px;

}

.categories{
    display:flex;
    text-align: center;
    flex-direction: column;
    gap:10px;
    

}

/* ---------------------------- home page hover ---------------------------- */
.hvr-trim {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;

  }

  .hvr-trim:before {
    content: '';
    position: absolute;
    border: white solid 4px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;

  }

  .hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
    opacity: 1;

  }

.categories .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.categories .card1{
    font-size: 22px;
    color: #6500BB;
    padding-top:5px;
    padding-bottom:15px;
}

.categories .card2{
    font-size: 22px;
    color: #FCB809;
    padding-top:5px;
    padding-bottom:15px;
}

.categories .card3{
    font-size: 22px;
    color: #4FACE2;
    padding-top:5px;
    padding-bottom:15px;
}

.categories .card4{
    font-size: 22px;
    color: #D74452;
    padding-top:5px;
    
}

/* ---------------------------- home page hover ends ---------------------------- */


/* -------------------------- ALL PROJECTS -------------------------- */
.project {
    /* padding-top:10px; */
    /* border-bottom: 2px solid black; */
 
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8{
    padding:30px 30px;
    max-width:1100px;
    margin:0 auto;

}

.section7 p{
    margin-top:10px;
    margin-bottom:20px;
}


.project h2{
    text-align: center;
    /* padding-top:7%; */
    font-size: 48px;
    font-weight: 600;

}

.project h3{
    color:white;
    width: auto;
    text-align: center;
    padding:30px;
    font-size: 30px;
    
}

.project h4{
    /* padding-top:30px; */
    /* padding-bottom:15px; */
    font-size: 28px;
    
}

.section2 h4{
    text-align: left;
    
}

.project h5{
    font-size: 20px;
    padding-top:20px;
    font-weight: 600;
    
}

.project h6{
    font-size: 18px;
    padding-top:20px;
    font-weight: 500;

}

.project p, .project li{
    line-height: 1.7;
    /* padding-top:5px; */
    font-size:16px;
    
}

.section1 .summary{
    text-align: center;
    padding-top:5px;
    padding-bottom:40px;
    max-width: 400px;
    font-weight: 500;
    
}

#zelle .section1 p{
    color: #6424cc;
    
}

#vision .section1 p{
    background: -webkit-linear-gradient(#284150, #CBE4E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#lively .section1 p{
    background: -webkit-linear-gradient(#FCB809, #00B9B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 200px;
    
}

#author .section1 p{
    background: -webkit-linear-gradient(#2D838D, #D74452);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.section1 p{
    font-size:18px;
    line-height: 150%;
    max-width: 768px;
    margin: 0 auto;
    
}

.section1 img{
    width:100%;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.project .about div{
    display:flex;
    flex-direction: column;
    
}

.about-image img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:5px;
    padding-bottom:20px;

}

.project .requirements{
    padding:20px;
    border: #cad2d3 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
    align-self: start;
    
}

.project .requirements h5{
    text-align: center ;
    padding-top:10px;
    /* padding-bottom:5px; */
    font-size: 16px;
    font-weight: 600;
    color: #363636;


}

.project .requirements p{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding:0px;
    /* padding-top:0px; */
    /* padding-bottom:5px; */

}

.section4 img{
    width:100%;

}

.section5 img{
    width: 100%;
    padding-bottom:40px;

}

.project ol{
    padding-left:20px;

}

.project li{
    padding-left:5px;
    /* padding-bottom:5px; */

}

.project .research2-divisions{
    text-align: center;

}

.project .research2-divisions div{
    padding-bottom: 10px;

}

.project .research2-divisions p{
    padding-top: 5px;

}

.project .research2-divisions img{
    width:100%;
    padding-top:10px;
    
}


/* ------------------ Vision Page ------------------ */

#vision h3{
    background-color: #A5DEE7;

}

#vision h4{
    color: #08669D;
    /* text-align: center; */

}

#vision h5{
    color:#08669D;
    
}

#vision .fact{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: -webkit-linear-gradient(#000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   

}

#vision .about p{
    padding-top:5px;
}

#vision .section2{
    background-image: url("images1/vision/phones.png");
    background-color: #cccccc00;
    background-repeat: no-repeat;
    background-position: center; 
    /* background-size: cover; */
    background-attachment:fixed;
    background-size: 120%;
}

.trial{
    max-width:900px;
    /* padding-bottom:10px; */
}






#vision .research1 img{
    width: 100px;
    padding-bottom: 10px;
    
}

#vision .trigger, #vision .action, #vision .investment, #vision .rewards{
    padding:30px;
    margin-top:25px;
    align-items: center;
    text-align: center;
    border: 3px solid #033552;
    border-radius: 50px;
    box-shadow: 8px 8px lightblue;
    
    
}

#vision .trigger{
    /* padding-top:40px; */

}

#vision .trigger-types{
    display: flex;
    flex-direction: column;
    
}

#vision .section4 h4, #vision .section3 h4{
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;


}

.research2 h4{
    text-align: center;
    margin-top:80px;
    margin-bottom:25px;
    border-bottom:3px solid #08669D;
    border-top:3px solid #08669D;
    padding:10px;
    
}

.process-content h4{
    text-align: center;
    margin-top:100px;
    margin-bottom:10px;
    border-bottom:3px solid #08669D;
    border-top:3px solid #08669D;
    padding:10px;
}

#vision .section5 p{
    padding-bottom:25px;
}

#vision .wireframe h4{
    margin-top:0;
}

#vision hr{
    border:2px solid #08669D;
    width:100%;

}

#vision .research2-divisions div{
    margin-top:20px;
    margin-bottom:20px;
}


#vision .research2 img{
    width:200px;
    padding-top:10px;

}

/* #vision .process-content section{
    padding-top:20px;
    margin-bottom:40px;

} */

#vision .process-content img{
    padding-top:20px;

}

/* #vision .process-content .wireframe{
    padding-top:0px;
} */


/* ------------------ ForHealth Page ------------------ */

#forhealth h3{
    background-color: #A40000;

}

#forhealth h4{
    color: #730000;
    padding-top:10px;
    padding-bottom:0px;

}

#forhealth .research3 h5{
    padding-top:10px;

}

#forhealth .research3{
    

}

#forhealth .research1 img{
    width:100%;
    padding-top:15px;

}

#forhealth .user-persona img{
    width:100%;

}

#forhealth .participants img{
    padding-top:20px;
    padding-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#forhealth .img-size{
    width:50%;

}

#forhealth .research3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    align-items: centerx;
    border:#000000 1px solid;

}

#forhealth .research2-divisions h5{
    padding-top:10px;
}

/* ------------------ Zelle Page ------------------ */



#zelle span{
    color:#373737;
    font-size: 12px;

    @media only screen and (min-width: 768px) {
        font-size: 16px;
        
    }
}

#zelle .note{
    font-size: 16px;
}



#zelle .summary{
    padding-bottom:10px;
}

#zelle .section1 img{
    padding-top:20px;
}

#zelle .section2 {
    display: flex;
    flex-direction: column;
}

#zelle h3{
    background-color: #6D1DD4;
}

#zelle h4{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;

    @media only screen and (min-width: 768px) {
        max-width: 600px;
        margin: auto;
        
    }
}

#zelle h5{
    padding-top:40px;
    text-align: center;
    font-size: 20px;
    @media only screen and (min-width: 768px) {
        
        max-width: 400px;
        margin: auto;
    }
}

#zelle p{
    text-align: center;
    font-size: 16px;
    @media only screen and (min-width: 768px) {
        font-size: 18px;
        max-width: 600px;
        margin: auto;
    }
}

/* timeline */


#zelle ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  #zelle ul::before {
    content: "";
    /* grid-column: 1; */
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  #zelle ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  #zelle ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  #zelle ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: white;
    font-size: 16px;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  #zelle ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  #zelle ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    /* left:2px; */
    background-color: white;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
    /* left:-2px; */
  }
  
  /* title descr */
  #zelle ul li .title,
  #zelle ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 10px;
  }

  /* #zelle .descr{
    padding-top:10px;
  } */
  #zelle ul li .title {
    overflow: hidden;
    padding-block-start: 10px;
    padding-block-end: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  #zelle ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }

  #zelle ul .current-position:nth-child(odd) .date::after {
    background-color: #6D1DD4;
  }
  
  /* shadows */
  #zelle ul li .title::before,
  #zelle ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(6px);
    transform: translate(-50%, 50%);
  }
  #zelle ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  #zelle ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    #zelle ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    #zelle ul::before {
      grid-column: 2;
    }
    #zelle ul li:nth-child(odd) {
      grid-column: 1;
    }
    #zelle ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    #zelle ul li:nth-child(2) {
      grid-row: 2/4;
      margin-left:20px;
    }
  
    #zelle ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
      
    }

  
    #zelle ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
     
    }

    #zelle ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
      
    }
  }

#zelle .section1 img{
    padding-bottom:10px;
    width:80%;
    display: block;
    margin-left:auto;
    margin-right:auto;

    @media only screen and (min-width: 768px) {
        width:50%;
    }
}


#zelle .project1 img, #zelle .project2 img, #zelle .project3 img{
    width:100%;
    padding-top:20px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    @media only screen and (min-width: 768px) {
        width:70%;
        padding-bottom:40px;
        
    }
}
  
  



/* #zelle{
    display: flex;
    flex-direction: column;
    padding-top:250px;
    max-width: 1200px;

}

#zelle img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#zelle div{
    padding-left: 30px;
    padding-top:10px;
    padding-bottom:10px;
    
}

#zelle h2{
    color:black;
    font-weight: 600;
    text-align: left;
}

#zelle h3{
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    color: #5d5d5d;
    padding-left: 3px;
    padding-top:10px;
    padding-bottom:0px;
    z-index: 1;

}

#zelle a{
    color: #E05989;
    text-decoration: none;

} */

/* ------------------ Author Page ------------------ */

#author h3{
    background-color: #D74452;

}

#author  h4{
    color: #00545D;
    
}

#author .section2 h4{
    color: #00545D;
    padding-bottom:5px;
    
}

#author .section2 p{
    padding-bottom:15px;
    
}

#author .requirements{
    margin-bottom:20px;
    margin-top:10px;
    
}

#author .requirements p{
    padding-bottom:2px;
    
}


#author .section3 h4{

    text-align: center;

}

#author .section2 h5{
    padding-top:0;
}

#author .section3 {
    display: flex;
    flex-direction: column;
    gap:50px;

}

#author .section3 ol{
    padding-top:10px;
}


#author .about-image img{
    padding-bottom: 5px;
    width:200px;

}

#author .about-image{
    display: flex;
    flex-direction: column;

}

#author .about-image span{
    /* padding-left:30px; */
    font-size: 15px;
    font-weight: 500;
}

#author .about-image a{
    max-width: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    color:black;
    
   
}

#author .section3 img{
    width: 100%;
    padding-top:10px;

}

#author .section3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

#author .section3 div{
    display: flex;
    align-self: center;
    justify-content: center;

}

#author .workflow h5{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding-top:20px;

}

#author .workflow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 20px 0 10px 0;

}

#author .section4{
    padding-bottom: 50px;
    max-width:500px;
    margin: 0 auto; 

}

#author .workflow section {
    padding-bottom:20px;
}

#author .section5{
    display: flex;
    flex-direction: column;

}

#author .images div, #author .texts div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

}

#author .section5 h4, #author .section6 h4, #author .section8 h4{
    text-align: center;
    padding-bottom:10px;

}

#author .section5 h5{
    padding-bottom:10px;
    padding-top:10px;
    font-weight: 400;
    width:200px;
    font-size: 16px;;
    margin: 0 auto;

}

#author .section5 img {
    padding-bottom:10px;
    width:90%;
    align-self: center;
    justify-content: center;

}

#author .section5 .texts img{
    padding-bottom:0;
    margin-bottom: 20px;

}

#author .section6 img, #author .section7 img, #author .section8 img{
    width: 100%; 


}

.section6 div, .section7 div, .section8 div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#author .section6 img, #author .section8 img{
    margin-bottom: 20px;

}

#author .border1{
    border: 5px solid rgba(215, 68, 82, 0.5);

}

#author .border2{
    border: 5px solid rgba(45, 131, 141, 0.5);

}

#author .border3{
    border: 5px solid rgba(219, 159, 52, 0.5);

}

#author .result img{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

/* ------- workflow arrows -------- */

.workflow a{ 
    color: rgba(216, 69, 83, 1); 
    text-decoration: none; 

}

.arrow {
    padding-top:40px;
    text-align: center;
    margin: 8% 0;

}

.bounce {
  animation: bounce 3s infinite;

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* ---------------- author + linkedin button ---------------- */
#author .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;

    /* margin: 0; position: relative; */
}
.button {
  --b: 3px;   /* border thickness */
  --s: 5px; /* size of the corner */
  --color: #373B44;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  text-align: center;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
    justify-content:center;
}

.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button:active {
  background: var(--color);
  color: #fff;
}

/* -------------------------- Lively  -------------------------- */

#lively h3{
    background-color: #FCB809;

}

#lively h4{
    color: #FCB809;

}

#lively .section2 h4{
    /* padding-top:20px; */

}

#lively .section2 p, #zelle .section2 p{
    padding-top:5px;
    padding-bottom:30px;


}

#lively .requirements p, #zelle .requirements p{
    padding-top:5px;
    padding-bottom:5px;


}

#lively .section3 h5{
    color: #FCB809;
    font-size: 26px;

}
#lively .section3 p{
    padding-top:3px;

}

#lively .section4 p, #lively .section5 p, #lively .section6 p{
    padding-bottom:15px;

}




.craft-embed {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 16px;
    height: 100%;
    scroll-behavior: none;
    /* pointer-events: none; */
    margin-bottom: 32px;

    /* @media screen and (min-width: 425px) {
        height: 100%;
    }

    @media screen and (min-width: 500px) {
        height: 2300px;
    }

    @media screen and (min-width: 550px) {
        height: 2350px;
    }

    @media screen and (min-width: 600px) {
        height: 2490px;
    }

    @media screen and (min-width: 768px) {
        height: 2200px;
    }

    @media screen and (min-width: 1024px) {
        height: 1980px;
    } */
}

.figma-embed {
    width: 100%;
    height: 1000px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:0;
}


/* ------------------ Contact / About Page ------------------ */

/* #about {
    padding-top:140px;
    padding:20px;
    /* max-width: 100%; */
    /* max-width: 1200px;
    margin: auto; */

#about h2{
    font-size: 36px;
    text-align: left;
}



.aboutpage1 img{
    width:250px;
    border-radius: 1000px;
    margin-bottom:30px;
    align-self: center;
}

#about p{
    font-size: 16px;
    text-align: left;
    padding-bottom:2px;
    padding-top:10px;
    line-height: 1.7;
    font-weight: 400;
}

#about hr{
    margin-top:30px;
    margin-bottom:30px;
    border:1.2px solid #E08A59;
    width:100px;
        
    
}

#about .art h2{
    /* padding-top:10px;
    padding-bottom:20px;
    font-size: 26px; */
    padding-top:10px;
    /* padding-bottom:px; */
    font-size: 26px;
    background: -webkit-linear-gradient(#E08A59, #DF5889);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#about .art h3{
    font-size: 20px;
    font-weight: 700;
    padding-top:30px;
    padding-bottom:10px;
}

#about .art h4{
    font-size: 18px;
    padding-top:10px;
    padding-bottom:5px;

}

#about .art p{
    margin-bottom:10px;
    padding:0;
    text-align: center;
    font-size: 14px;
    line-height: 15px;

}

#about .art img{
    width:100%;
    margin-bottom:20px;

}



.aboutpage1{
    display: flex;
    flex-direction: column;
}

#contact::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#contact, #about{
    padding: 80px 30px 0 30px;
    max-width:1000px;
    margin: 0 auto;
    text-align: center;

}

#contact h2{
    font-size: 36px;
    text-align: left;
    padding-bottom:10px;
}

#contact p, #about p{
    font-size: 16px;
    text-align: left;
    padding-bottom:2px;
    /* padding-top:10px; */
    line-height: 1.7;
    font-weight: 400;
}

#contact h3{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 22px;

}

.contact-button{
    display: flex;
}

#contact .button{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;

    /* margin: 0; position: relative; */
}

form{
    text-align: center;
    z-index: 1;

    
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 20px;

}

textarea{
    margin-bottom: 20px;
    
}
  
  /* Style the label to display next to the inputs */
  label {
    display: inline-block;
    display: none;
    /* padding: 20px 10px px 0; */
    /* display: inline-block;
    color:white;  */
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

  }

::placeholder{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Style the container */
  .form-container {
    /* background-color: #ffffff; */
    z-index: 1;
    
    
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    display: block;
    margin-right: 0;
    margin-left: 0;
    /* float: center; */
    /* width: 25%;
    margin-top: 6px; */
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    /* float: initial;
    width: 75%;
    margin-top: 6px; */
  }

  #fname, #lname, #country, #subject{
    width:100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /*  ----------------------------------- background BLOB - contact ----------------------------------- */





/* ---------------------------- background BLOB contact ends ---------------------------- */

/* ------------------ hamburger menu style (From 0px to 800px) ------------------ */

@media(max-width:800px){
    .hamburger{
        display: block;
        z-index: 1;

    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;

    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu{
        position:fixed;
        left:-100%;
        top: 160px;
        gap:0;
        flex-direction: column;
        background: #ffffff;
        transition:0.5s;
        -webkit-margin-after: 10px;
        width:100%;
        padding-bottom:20px;
        padding-top:0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        border-radius: 20px;
        border-bottom: #000000 3px solid;
        
    }

    .nav-item{
        /* margin:15px 0px; */

    }

    .nav-item:hover{
        /* font-weight: 700; */

    }

    .nav-menu.active{
        left:0;

    }

}

/* ------------------ hamburger menu ends here ------------------ */



/* ----------------------- Device Changes Starts Here ----------------------------- */

/* ------------------ 375px ------------------ */ 
@media only screen and (min-width: 375px) {
    #intro h2{
        font-size: 80px;
        letter-spacing: -9px;
        
    }

}



/* ------------------ 600px ------------------ */ 

@media only screen and (min-width: 600px) {

    .nav-menu{
        padding-top:20px;
        padding-bottom:20px;

    }

    .navbar{
        
        padding-left: 35px;
        padding-right: 35px;
       
        
    }

    /* ------------ Home (600px) ------------ */

    #intro{
        padding:150px 50px 150px 50px;

    }

    #intro h2{
        font-size: 90px;
        
    }

    #intro h4, #intro h4 a{
        font-size:24px;

    }

    .categories{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;

    }

    /* ------------------ ALL PROJECTS (600px) ------------------ */

    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8{
        padding:40px 40px;
        max-width: 900px;
    
    }

    .project h2{
        font-size: 52px;
    
    }

    .project h3{
        padding:60px;
        font-size: 40px;
        
    }

    .project h4{
        /* padding-top:40px; */
        font-size: 32px;
        
    
    }

    .project p, .project li{
        font-size:18px;
        
    }

    .section1 img{
        width:80%;
        padding-top:30px;
    }

    .section2{
        display:grid;
        grid-template-columns: 2fr 1fr;
    
    }

    .section3{
        /* padding-left:100px;
        padding-right:100px; */
    }

    .objectives {
        padding-top:40px;
        grid-column-start: 1;
        grid-column-end: 3;

    }

    .about-image{
        padding-top:40px;
        /* width: 80%; */
        grid-row: 1/0;
        grid-column: 2/1;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        
    }

    .about1, .about2, .about3{
        padding-right:50px;
        padding-bottom:30px;
        

    }

    .section7{
        max-width:700px;
    }

    /*-------- incentives (currently only in vision) ------- */

    .research2-divisions div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

     .incentive1 img,  .incentive3 img,  .incentive5 img{
        grid-row: 3/1;
        place-self: center;

    } 

     .incentive2 img,  .incentive4 img{
        grid-column: 2/2;
        grid-row: 3/1;
        place-self: center;

    } 

     .research2-divisions h5{
        align-self: end;
        padding:0;

    }

     .research2-divisions p{
       padding:0;
       margin-top:2px;
        
    }

    .incentive1{
        padding-top:20px;

    }

    .incentive1,  .incentive3, .incentive5{
        text-align: left;
        padding-bottom: 50px;
       
    }

    .incentive2, .incentive4 {
        text-align: right;
        padding-bottom: 50px;
        
    } 

    .incentive1 div, .incentive2 div, .incentive3 div, .incentive4 div{
        display: flex;
        flex-direction: column;
    
    }

   
    
    /* ------------ Vision (600px) ------------ */

    #vision .about-image img{
        width: 500px;
        
    }

    #vision .trigger, #vision .action, #vision .investment, #vision .rewards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin:0;
        text-align: left;
        
    }

    #vision .action img, #vision .rewards img{
        grid-row: 1 / 1; 
        grid-column: 2 / 2; 

    }

    #vision .section2{
        background-size: 70%;
    }

    

    #vision .trigger, #vision .action, #vision .investment,#vision .rewards{
        margin-top: 30px;
        /* margin-bottom: 10px; */

    } 

    #vision .research1{
        margin: 50px;
    }

    /* #vision .trigger h5{
        align-self: rights;
    } */

    #vision .app, #vision .app1{
        padding-bottom: 20px;
        
    }

    #vision .app1{
        text-align: right;
    }

    #vision .incentive1{
        padding-top:0px;

    }

    #vision .trigger img, #vision .action img, #vision .investment img, #vision .rewards img{
        align-self: center;
        justify-self: center;
        width:50%;
        padding-bottom:0;
    }

    #vision .action img, #vision .rewards img{
        grid-row: 1 / 1; 
        grid-column: 2 / 2; 

    }

    .research2-divisions img{
        width:2px;
    }

    .process-content{
        padding:0 40px 0 40px;
    }

    /* .process-content h4{
        padding-bottom: 8px;
    } */

    .process-content img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        /* padding-top:30px; */
    }


    /* ------------------ ForHealth Page (600px) ------------------ */
    #forhealth .participants img{
        width:400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #forhealth .task-difficulty {
        display: flex;
        flex-direction: column;

        
    }

    #forhealth .task-difficulty img{
        width:400px;
        align-self: center;
        
    }

    #forhealth h4 {
        padding-top: 30px;
    }

    #forhealth .incentive1 h5, #forhealth .incentive3 h5, #forhealth .incentive1 p, #forhealth .incentive3 p{
       padding-left:20px;
       
        
    }

    #forhealth .incentive2 h5, #forhealth .incentive4 h5, #forhealth .incentive2 p, #forhealth .incentive4 p{
        padding-right:20px;
        
    } 

    /* ------------------ Zelle Page (600px)------------------ */

    /* #zelle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left:40px;
        padding-right:40px;
    }

    #zelle img{
        width: 280px;
        grid-row: 1 / 1; 
        grid-column: 2 / 2; 
        align-self: center;  

    }

    #zelle div{
        padding:0;
        align-self: center;  
    }

    #zelle h2{
        padding-top:0;

    }

    #zelle h3{
    padding-right:10px;

    } */


/* ------------------ Author Page (600px) ------------------ */

    #author .about-image{
        flex-direction: row;
        padding:80px;
        align-items: end;

    }

    #author .about-image img{
        width: 250px;
        padding-top:0px;
        padding-bottom:0px;
        padding-right:20px;
        padding-left:20px;
        margin:0;

    }

    #author .about-image span{
        max-width: 200px;
        padding-left:0;

    }

    #author .about1, #author .about2, #author .about3 {
        padding-bottom:10px;
    }


    #author .section3 img{
        width:500px;
        padding-top:20px;
    }
    
    #author .section5 h5{
        text-align: center;
    }

    #author .section6 img, #author .section7 img, #author .section8 img{
        width: 80%;
       
    }

    #author .section2 h4{
        padding-top:7px;
    }

    #author .section6 h4, #author .section8 h4{
        padding-top:10;
        max-width: 230px;
    }

    #author .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

    }

    #author .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
        
    }

    #author .images img{
        width:90%;

    }

    #author .texts .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

    }

    #author .section3 {
        
        gap:100px;
        
    }

    /* ------------------ Contact / About Page (600px) ------------------ */

    #contact{
        padding-left:60px;
        padding-right:60px;
    }
    form{
        padding:20px 60px;
    }

    /* about page */
    #about{
        padding-left:80px;
        padding-right:80px;

    }


    
    

    

   

    
}
    

/* @media only screen and (min-width: 800px) { */
/* ------------ Header ------------ */
    /* .navbar img{
        width: 60px;
    }

    .navba
        min-height: 150p
    }
} */
@media only screen and (min-width: 768px) {
    .nav-menu{
        padding:0;
        
    
    }

    .nav-link{
        padding:0;
        
        
    
    }

    /* about page */
    #about hr{
        width:200px;
        
    }

    /* ------------------ Vision (786px) ------------------ */
   
    #vision .about-image img{
        width:60%;
        
        
    
    }


    /* ------------------ ForHealth (786px) ------------------ */
    .participants-task{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }

    #forhealth .participants-task img{
        width:200px;
    }

    #forhealth .task-difficulty img {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    /* ------------------ Contact / About Page (786px) ------------------ */

    /* about page */

    #about, #contact{
        padding-top:80px;
    }

    .aboutpage1{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .aboutpage1 img{
        width:300px;
        margin-right:30px;
        justify-self: center;
    }

    #about .illustration{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #about .illustration img{
        padding-right:3px;
        padding-left:3px;
        
    }

    #about hr{
        margin-top:50px;
        margin-bottom:50px;
    }

    #about .art h2{
        padding-right:100px;
    }

    #about .faceless{
        display:grid;
        grid-template-columns: 2fr 2fr 2fr ;

    }

    #about .faceless img{
        padding-right:3px;
        padding-left:3px;
        
    }

    #about .landscape{
        display:grid;
        grid-template-columns: 1fr 1fr ;

    }

    #about .landscape img{
        padding-right:3px;
        padding-left:3px;
        
    }


     
    


}

@media only screen and (min-width: 1024px) {
/* ------------ Header ------------ */

/* ------------ Home ------------ */

    #intro{
        padding-left: 100px;
        padding-top:150px;
        padding-bottom:200px;

    }

    #intro h2{
        font-size: 120px;
        line-height: 100px;

    }

    #recent-work img{
        width:100%;
    }


/* ------------ ALL PROJECTS ------------ */
    .project h2{
        font-size: 60px;

    }

    .project h4{
        font-size: 36px;
    }

    .project h5{
        font-size: 28px;
    }

    .project h6{
        font-size: 24px;
    }

    .project p, .project li{
        font-size: 18px;
    }

    .section1 p{
        font-size:18px;
        line-height: 150%;
        
    }

    .divide-objective{
        display: grid;
        grid-template-columns: 1fr 1fr;;
        padding-bottom:20px;
    }
    .about-image{
        padding:0;
    }

    .about-image img{
        align-self: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        padding-top:0;
    }


    /* ------------------ Vision Page (1024) ------------------ */
    #vision .section5 p{
        padding-bottom:45px;
    }

    /* ------------------ Zelle Page ------------------ */
    #zelle img{
        width:400px;

    }

    /* ------------------ Author Page ------------------ */

    #author .section2 h5{
        font-size: 20px;
    }

    #author .section6 h4, #author .section8 h4{
        padding-bottom:20px;

    }



    /* ------------------ Contact / About Page (1024px) ------------------ */
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    #contact .form h3{
        padding-top:0;
    }

    form{
        padding-top:0;
    }

     /* Style the submit button */
    input[type=submit] {
        padding: 10px 30px;
        margin-bottom: 10px;
        font-size: 16px;
    
    }
}